.footer .box-containers{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-containers .box{
    flex:1 1 20rem;
  }
  
  .footer .box-containers .box h3{
    font-size: 2.5rem;
    color:var(--blue);
    padding:.7rem 0;
  }
  
  .footer .box-containers .box p{
    font-size: 1.5rem;
    color:#fff;
    padding:.7rem 0;
  }
  
  .footer .box-containers .box a{
    display: block;
    font-size: 1.5rem;
    color:#fff;
    padding:.7rem 0;
  }
  
  .footer .box-containers .box a:hover{
    color:var(--pink);
  }
  
  .footer .box-containers .box p i{
    padding-right: .5rem;
    color:var(--pink);
  }
  
  .footer .credit{
    font-size: 2rem;
    margin-top: 1rem;
    padding:1rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .1rem solid rgba(224, 15, 15, 0.1);
    color:#fff;
  }
  
  .footer .credit span{
    color:var(--pink);
  }